body{
    background-image: url('img/fundo.gif');
    background-size: cover;
    padding:0;
    margin:0;
}

#jogo {
	margin: auto;
	width: 45%;
	padding: 10px;
	background-color:rgba(135, 206, 250, 0.7);
}

.casa {
	/*background-image: url('img/0.jpg');*/
	border: 3px solid;
	width: 200px;
	height: 200px;
	float: left;
	background-size: cover;
	background-color:rgba(0,0,0, 0.3);
	margin: 1px;
	border-color: lightskyblue;
}

#vencedor{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 0%;
	position: absolute;
	left: 0px;
	top: 65%;
	text-align: center;
	background-color: lightskyblue;
    background-size: cover;
	background-position: 10px;
	color: white;
	background-position-y: 30%;
	text-shadow: 3px 3px black;
	transition: 600ms;
	background-repeat: no-repeat;
}

#divisor{
	width: 100%;
}

#audioverificar{
	background-color: lightgreen;
	width: 100%;
}

#lateralmihawk {
	position: absolute;
	float: right;
	width: 200px;
	height: 200px;
	top: 75%;
	right: 2%;
	filter: grayscale(100%);
	box-shadow: 2px 2px;
	transition: 300ms;
}
#lateralshanks {
	position: absolute;
	float: left;
	width: 200px;
	height: 200px;
	top: 75%;
	left: 2%;
	filter: grayscale(100%);
	box-shadow: 2px 2px;
	transition: 300ms;
}